.frame {
	background-image: url(../images/frame.png);
	background-position: 50% 53%;
	background-repeat: no-repeat;
}

.header {
	background-image: url(../images/sharkskin.gif);
	-webkit-border-image: none;
}

.headtitle {
	color: #ffffff;
}

.image {

}

.shotcarousel {
	background-image: url(../images/noise.png);
}

.title {
	text-align: center;
	font-size: 80%;
	opacity: .5;
}

.subtlehint {
	opacity: 0.3;
	margin-top: -10%;
	font-size: 120%;
}
