.frame {
	background-image: url(../images/frame.png);
	background-position: 50% 53%;
	background-repeat: no-repeat;
}

.header {
	background-image: url(../images/sharkskin.gif);
	-webkit-border-image: none;
	
	/*
	background-image: url(../images/wood.jpg);
	-webkit-border-image: url(../images/header.png) 1 0;
	*/
}

.headtitle {
	color: #ffffff;
	margin-top: -3px;
	/*
	color: #000000;
	*/
}

.shotcarousel {
	background-image: url(../images/noise.png);
}

.title, .paginator {
	text-align: center;
	font-size: 80%;
	opacity: .5;
}

.paginator {
	opacity: .2;
}

.subtlehint {
	opacity: 0.3;
	margin-top: -10%;
	font-size: 120%;
}

.smallhint {
	opacity: 0.4;
	font-size: 80%;
}
